main {
  background-color: lightskyblue;
  color: rgb(238, 255, 0);
}
main {
  background-image: url('space.jpg');
  background-size: cover;
}
#borderimg {
 width:60%;
 margin: auto;
 margin-top: 30px;
}
ul {
  list-style-image: url('kirby.png');
}
#borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(pipe.png) 30 round;
}

